body{
background: rgb(255,127,127);
background: linear-gradient(135deg, rgba(255,127,127,1) 0%, rgba(255,156,231,1) 25%, rgba(221,186,255,1) 50%, rgba(203,196,255,1) 75%, rgba(219,227,255,1) 100%);
}

.abc{
    background-color: rgb(255, 255, 255);
    padding-left: 100px;
}

#show_sketch{
    float: right;
    margin-top: 3px;
}

.dfg{
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
}

.color{
    font-weight: bold;
    color: crimson;
}

.left{
    float: left;
    margin-left: 20px;
}

.right{
    float: right;
    margin-right: 20px;
}   